/* section 스타일 */
section#skill {
    margin: 60px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;
}

/* 카드 스타일 */
.card {
    width: 500px;
    height: 150px;
    border-radius: 10px;
    /* box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); */
    padding: 20px;
    display: flex;
    flex-direction: column;
    /*box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 그림자 효과 */
    /*background-color: #f9f9f9; /* 배경색 */
}


/* 제목 스타일 */
.card strong {
    font-size: 1.5rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.scrolling-content{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

/* 키워드 스타일 */
.keyword {
    background-color: #f9f9f9;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #000000;
    border-radius: 5px;
    font-size: 16px;
    padding: 8px 16px; /* 패딩 추가 */
    margin-right: 10px;
    margin-bottom:10px;
}

.github-link {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
    color: #8fa28e;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.github-link:hover {
    background-color: #888b8e;
    color:white;
}

.github-link span {
    margin-left: 10px;
}