html {
    scroll-behavior: smooth; /* 부드러운 스크롤 적용 */
    height: 100%;
}

body {
    font-family: 'Arial', sans-serif; /* 글꼴 스타일 */
    overflow-y: scroll; 
    user-select: none; 
    caret-color: transparent; /* 커서 깜빡임 방지 */
    width: 1200px; 
    margin: 0 auto; /* 화면 중앙 정렬 */
    background-color: white;
    min-height: 100vh;
    padding-top:50px;
    padding-bottom: 20px;
}


.navbar {
    width: 100%; /* 화면 너비를 꽉 채움 */
    position: fixed;
    top: 0; /* 화면 상단에 위치 */
    left:0px;
    z-index: 1000; /* 다른 요소보다 위에 표시 */
    background-color: #3e5048;

}

.navbar a.check{
    background-color: #ffffff;
    color: #182721;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.navbar li {
    float: left;
    width: 100%;
}

.navbar a {
    display: block;
    color: white;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ffffff;
    color: #182721;
}

.page {
    display: none;
    padding: 15px;
}

#home {
    display: block;
}

footer {
    position: fixed;
    right: 10px; 
    bottom: 10px; 
    color: rgb(101, 101, 101);
    border-radius: 5px; 
    font-size: small;
    display: flex;
    flex-direction: column;
    text-align: right;
}

